@import url("https://fonts.googleapis.com/css2?family=Inter&family=Kumbh+Sans&family=Mukta&family=Raleway:wght@500&display=swap");
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.loading {
  position: relative;
  display: flex;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  background: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loading > div > img {
  width: 172px;
  height: 172px;
  flex-shrink: 0;
  margin: auto;
}

.loading > p {
  color: #69235b;
  text-align: center;
  font-family: Kumbh Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 295px;
  position: absolute;
  bottom: 1rem;
}

/* Home */
.home {
  max-width: 375px;
  width: 100%;
  height: 100vh;
  position: relative;
  background: #69235b;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.image-container img {
  max-width: 400;
  height: auto; /* Maintain aspect ratio */
}

.arya {
  position: relative;
  top: -25px;
  width: 191.25px;
  height: 30.375px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.arya > p {
  color: #69235b;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  /* 87.5% */
  letter-spacing: 0.1px;
  position: absolute;
  top: -8px;
}

.typography {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: -25px; /* Reduce the top margin to adjust the gap */
}

.typography p:nth-child(1) {
  color: #fff;
  font-family: Kumbh Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 291px;
  height: 85px;
  flex-shrink: 0;
  text-align: left;
}

.typography p:nth-child(1) > span {
  color: #ffc746;
}

.typography p:nth-child(2) {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  width: 298px;
  text-align: left;
  /* 162.5% */
}

.typography p:nth-child(2) > span {
  color: #fbbc04;
}
.Authentication-options {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-bottom: 6rem;
}

.Authentication-options > p {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Kumbh Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 70% */
  letter-spacing: 0.1px;
  margin-top: 2rem;
}

.Authentication-options > p > span {
  color: #fbbc04;
  cursor: pointer;
}
/* login page */
.login-page {
  width: 375px;
  height: 812px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
.login-page > p {
  color: #fbbc04;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Kumbh Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 70% */
  letter-spacing: 0.1px;
  cursor: pointer;
}
.no-box-shadow {
  box-shadow: none !important;
}

.login-typography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login-typography > h3 {
  color: #69235b;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Kumbh Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px; /* 100% */
  z-index: 1;
}
.login-typography > img {
  position: absolute;
  top: 30px;
  left: 84px;
}

.login-typography > p {
  color: #69235b;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
  width: 293px;
}
/* sign up page */
.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 812px;
  background: #fff;
}
.signup-page div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-bottom: -10px;
  width: auto;
}
.signup-page > div:nth-child(1) img {
  width: 72px;
  height: 64px;
  flex-shrink: 0;
  margin-bottom: 0;
  margin-top: 60px;
}
.signup-typography {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0;
  margin-bottom: 1rem;
}

.signup-typography img {
  position: absolute;
  width: 50px;
  height: 8px;
  flex-shrink: 0;
  top: 29.5px;
  right: 62px;
}
.signup-typography > h3 {
  color: #69235b;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
  z-index: 1;
  margin-bottom: 0px;
}
.signup-typography > p {
  color: #69235b;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
  width: 293px;
}
.signup-page Input {
  width: 327px;
}
/* chat page */
.profile-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}
.chat-name {
  display: flex;
  flex-direction: column;

  margin-top: 4px;
  padding-left: 10px;
}
.chat-name > p:nth-child(1) {
  color: #69235b;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  margin: 0;
  padding-bottom: 5px;
}
.chat-name > p:nth-child(2) {
  margin: 0;
  color: #797c7b;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 100;
  line-height: 12px; /* 100% */
}

.language-button {
  display: flex;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  line-height: 16px; /* 100% */
  margin-left: 9rem;
  cursor: pointer;
  background: inherit;
  border: none;
  padding: 1px;
}

/* Components */
/* social */

.social-media {
  display: flex;
  gap: 22px;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.social-media > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke-width: 1px;
  cursor: pointer;
}

/* OR */
.or-line {
  display: flex;
  gap: 1rem;
  margin: 14px 0;
  align-items: center;
}

.or-line > hr {
  width: 132px;
  height: 1px;
  background: #cdd1d0;
}

.or-line > p {
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  line-height: 14px;

  letter-spacing: 0.1px;
  margin: 0;

  padding: 0;
}

/* button */
.button {
  position: absolute;
  bottom: 1rem;
  cursor: pointer;
}

.button > button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 340px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ffc746;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
  overflow: hidden;

  /* text */
  color: #69235b;
  text-align: center;
  font-family: Kumbh Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.button > button:hover {
  background: rgb(247, 243, 243);
}
.button > button:active {
  transform: scale(0.95);
}

.button > button:active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 0;
  transform: scale(0);
  border-radius: 50%;
  animation: ripple 0.6s linear;
  pointer-events: none;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
/* custom message */
.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message.incoming .message-content {
  background: #69235b;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

.message.outgoing .message-content {
  background: #fbbc04;
  padding: 10px;
  border-radius: 10px;
}

.message .message-text {
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
  flex-shrink: 0;
}

.profile-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.message-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 328px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #fff;
  box-shadow: 5px 4px 20px 0px rgba(0, 0, 0, 0.13);
}
.message-input .cs-message-input__content-editor-wrapper {
  background-color: #fff;
}
.message-input .cs-message-input__content-editor {
  background-color: #fff;
}
.message-input
  .cs-message-input__content-editor[data-placeholder]:empty:before {
  color: #a1a1a1;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
